---
import type { Markdowninstance } from 'astro';
import Base from "@layouts/Base.astro";
import type { BlogPostFrontmatter } from "@types";
import { formatDate } from "src/utilities";

let posts = await Astro.glob<BlogPostFrontmatter>('./*.md');

type Post = Markdowninstance<BlogPostFrontmatter>;

posts = posts.sort((a: Post, b: Post): number => {
  if (a.frontmatter.date > b.frontmatter.date) {
    return -1;
  }

  if (b.frontmatter.date > a.frontmatter.date) {
    return 1;
  }

  return 0;
});

if (import.meta.env.PROD) {
  posts = posts.filter(post => !post.frontmatter.draft)
}
---
<Base title='Blog Posts'>
  <h1 class='mb-8 text-6xl'>Blog Posts</h1>

  <div>
    {posts.map(post => (
      <div class='py-4 border-b first:border-t'>
        {post.frontmatter.draft && 
          <p class='bg-red-700 text-white px-2 inline-block'>DRAFT</p>
        }
        <a class='text-blue-700 hover:underline' href={post.url}>{post.frontmatter.title}</a>
        <p>{formatDate(post.frontmatter.date)}</p>
      </div>
    ))}
  </div>
</Base>