---
import Base from "@layouts/Base.astro";
import { Icon } from "astro-icon";

const skillSet = [
  {
    name: "HTML",
  },
  {
    name: "CSS",
  },
  {
    name: "Javascript",
  },
  {
    name: "TailwindCss",
  },
  {
    name: "Astro",
  },
  {
    name: "Typescript",
  },
  {
    name: "React",
  },
];
---

<Base title="About me">
  <div class='prose md:text-xl'>
    <h1 class="underline">Who Am I?</h1>
    <p class="text-black leading-8">
      My name is Sean and I am an aspiring Junior Front End Developer. I love
      building sites from the ground up because you get to see the progress made
      with each line of code written, and it just feels very gratifying,
      especially if it is a problem I have been working on for hours. <br>
    </p>
    <h1 class="underline">Skillset</h1>

    <div class="flex flex-wrap">
      {
        skillSet.map((skill) => (
          <Icon class="w-11 h-11 mx-4 my-2" name={skill.name} />
        ))
      }
    </div>

    <p class="text-black leading-8">
      I am always looking at new technologies to utilise and am currently
      looking at Flowbite, and random API's to build my projects with. <br>
      I am also slowly improving my skills in the languages I know already.
    </p>
  </div>
</Base>
