---
import Base from "@layouts/Base.astro";
---

<Base title="About me">
  <div class='prose'>
    <h1>About Me</h1>
    <p class='text-black text-lg'>
      I am a Frontend Developer based in London. In my spare time I enjoy going
      to the Gym, Gaming, and learning/building new projects. <br> My core skills
      include HTML, CSS, Javascript and GIT, but I have also extended my reach
      towards Tailwindcss and VITE. I am currently learning Typescript with
      React and will hopefully have some projects up in the future.
    </p>
  </div>
</Base>
