---
import Base from "@layouts/Base.astro";
import { Icon } from "astro-icon";

const mediaLinks = [
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/seansew/",
    text: "Contact me on",
  },
  {
    name: "GitHub",
    href: "https://github.com/ExpressOwl",
    text: "Peek at my",
  },
];

const skillSet = [
  {
    name: "HTML",
  },
  {
    name: "CSS",
  },
  {
    name: "Javascript",
  },
  {
    name: "TailwindCss",
  },
  {
    name: "Astro",
  },
  {
    name: "React",
  },
];
---

<Base title="Welcome">
  <img
    class="2xl:block absolute h-4/6 top-28 left-14 opacity-70 hidden -z-10"
    src="/images/WorkingMan.png"
    alt=""
  />
  <img
    class="2xl:block absolute h-4/6 top-28 right-14 opacity-70 hidden -z-10"
    src="/images/WorkingMan2.png"
    alt=""
  />

  <div class="prose mx-4 text-[#0f0f0f]">
    <h2 class="underline text-[#0f0f0f]">About Me</h2>
    <p class="text-lg font-bold">
      Front-end developer with expertise in React.js and component-based
      architecture. I am familiar with building dynamic and responsive web
      applications and UI with a focus on user experience. Proficient in
      utilizing various libraries and tools to enhance functionality and deliver
      high-quality code. Strong problem-solving skills and ability to
      collaborate effectively in a team environment.
    </p>
    <div class="text-center mb-4">
      {
        mediaLinks.map((item) => (
          <>
            <a
              href={item.href}
              target="_blank"
              class="text-[#f1f1f1] bg-[#24292F] focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center focus:ring-gray-500 hover:bg-[#050708]/30 mr-2 mb-2"
            >
              <Icon name={item.name} class="w-4 h-4 mr-2 -ml-1 animate-bounce" />
              {item.text} {item.name}!
            </a>
          </>
        ))
      }
    </div>
    <h2 class="prose text-xl underline">
      Programming Languages: <div class="flex flex-wrap mt-4 text-[#0f0f0f]">
        <Icon class="w-11 h-11 mx-4 my-2" name="HTML" />
        <Icon class="w-11 h-11 mx-4 my-2" name="CSS" />
        <Icon class="w-11 h-11 mx-4 my-2" name="Javascript" />
      </div>
    </h2>
    <h2 class="prose text-xl underline">
      Frameworks/Libraries: <div class="flex flex-wrap mt-4 text-[#0f0f0f]">
        <Icon class="w-11 h-11 mx-4 my-2" name="React" />
        <Icon class="w-11 h-11 mx-4 my-2" name="Astro" />
        <Icon class="w-11 h-11 mx-4 my-2" name="TailwindCss" />
        <Icon class="w-11 h-11 mx-4 my-2" name="axios" />
      </div>
    </h2>
    <h2 class="prose text-xl underline">
      Tools/Utilities: <div class="flex flex-wrap mt-4 text-[#0f0f0f]">
        <Icon class="w-11 h-11 mx-4 my-2" name="GitHub" />
        <Icon class="w-11 h-11 mx-4 my-2" name="Vite" />
        <Icon class="w-11 h-11 mx-4 my-2" name="npm" />
        <Icon class="w-11 h-11 mx-4 my-2" name="prettier" />
      </div>
    </h2>
  </div>
</Base>
