---
import ProjectCard from "@components/ProjectCard.astro";
import Base from "@layouts/Base.astro";
---

<Base title="Projects">
  <div class='prose'>
    <h1>Projects</h1>
    <ProjectCard />
  </div>
</Base>
