---
import { Icon } from "astro-icon";

const mediaLinks = [
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/seansew/",
  },
  {
    name: "GitHub",
    href: "https://github.com/ExpressOwl",
  },
];
---

<footer class='mt-4'>
  <div class="flex bg-black text-gray-300 items-center p-2">
    <div class='mr-auto'>
      Copyright &copy; <span id="copyright"></span> | All rights reserved
    </div>
    {
      mediaLinks.map((item) => (
        <a href={item.href} target="_blank">
          <Icon class="w-8 mx-1 text-gray-300" name={item.name} />
        </a>
      ))
    }
  </div>
</footer>

<script>
  const year = document.querySelector("#copyright") as HTMLElement;
  if (!year) {
    ("2023");
  }
  year.textContent = new Date().getFullYear().toString();
</script>
