---
import { Icon } from "astro-icon";

const items = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Projects",
    path: "/projects",
  },
  {
    title: "Blog",
    path: "/posts",
  },
  {
    title: "About",
    path: "/about",
  },
];
---

<nav
  class="w-full justify-center bg-black text-gray-300 items-center sticky top-0 flex flex-wrap"
>

  <div class="flex">
    {
      items.map((item) => (
        <a class="text-xl hover:bg-gray-700 p-4" href={item.path}>
          {item.title}
        </a>
      ))
    }
  </div>
</nav>