---
const items = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Projects",
    path: "/projects",
  },
  {
    title: "Blog",
    path: "/posts",
  },
  {
    title: "About",
    path: "/about",
  },
];
---

<nav class="flex bg-black text-gray-300 items-center sticky top-0">
  <div class="font-bold text-xl ml-4 p-4 md:block hidden">
    Ramblings of Sean
  </div>
  <div class="font-bold text-xl ml-4 p-4 sm:block">&diams; &diams;</div>

  <div class="ml-auto">
    <ul class="flex">
      {
        items.map((item) => (
          <li>
            <a class="p-4 md:block text-xl hover:bg-gray-700" href={item.path}>
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
