---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

// class Projects {
//   constructor()
// }
---

<div class="prose md:text-xl text-center">
  <article class="text-black mb-8 min-w-fit">
    <h1 class="underline text-black mx-4">Anime Database Search</h1>
    <Picture
      class="mb-8 rounded-lg shadow-lg"
      src="/images/JikanAPI.png"
      widths={[400, 600, 1024]}
      sizes="(max-width: 400px) 370px, (max-width: 600px) 600px, 1024px"
      aspectRatio="5:3"
      alt="Front End Portfolio"
      format="png"
      background="white"
    />
    <div class="flex justify-center">
      <Icon class="w-11 h-11 mx-3" name="React" />
      <Icon class="w-11 h-11 mx-3" name="Javascript" />
      <Icon class="w-11 h-11 mx-3" name="TailwindCss" />
      <a href="https://anime-api-xi.vercel.app/" target="_blank">
        <Icon class="w-11 h-11 mx-3" name="External" />
      </a>
      <Icon class="w-16 h-16 ml-[-22px] rotate-180 hidden sm:block" name="Arrow" />
    </div>
    <p class="text-left mx-4">
      A React app I made using a REST API, containing JSON information about
      shows from Japan. It has a search function which brings back 15 shows
      alongside a synopsis and cover image, all dynamically pulled from the API.
      It is also accompanied by an aside which presents the current Top Ten
      Shows. View the code <a
        href="https://github.com/ExpressOwl/animeAPI"
        class="text-violet-600">here</a
      >.
    </p>
  </article>

  <article class="text-black">
    <h1 class="underline text-black">Pearl China</h1>
    <Picture
      class="mb-8 rounded-xl shadow-md"
      src="/images/PearlChina.png"
      widths={[400, 600, 1024]}
      sizes="(max-width: 400px) 370px, (max-width: 600px) 600px, 1024px"
      aspectRatio="5:3"
      alt="Pearl China"
      format="png"
      background="white"
    />
    <div class="flex justify-center">
      <Icon class="w-11 h-11 mx-4" name="HTML" />
      <Icon class="w-11 h-11 mx-4" name="TailwindCss" />
      <Icon class="w-11 h-11 mx-4" name="Vite" />
      <a href="https://pearlchina.co.uk/" target="_blank">
        <Icon class="w-11 h-11 mx-4" name="External" />
      </a>
      <Icon class="w-16 h-16 ml-[-22px] rotate-180 hidden sm:block" name="Arrow" />
    </div>
    <p class="text-left mx-4">
      Client wanted a mobile site which will hold their ever updating menu and
      prices. The site has a Google Map Embed and uses grid layout for the menus
      for a responsive experience. It is hosted on Vercel via CloudFlare and
      gets a humble 1000 vists a week. View the code <a
        class="text-violet-600"
        href="https://github.com/ExpressOwl/PearlChinaV2">here</a
      >.
    </p>
  </article>

  <article class="text-black mb-8 min-w-fit">
    <h1 class="underline text-black">Blog Site/Portfolio</h1>
    <Picture
      class="mb-8 rounded-lg shadow-lg"
      src="/images/Portfolio.png"
      widths={[400, 600, 1024]}
      sizes="(max-width: 400px) 370px, (max-width: 600px) 600px, 1024px"
      aspectRatio="5:3"
      alt="Front End Portfolio"
      format="png"
      background="white"
    />
    <div class="flex justify-center">
      <Icon class="w-11 h-11 mx-3" name="HTML" />
      <Icon class="w-11 h-11 mx-3" name="Javascript" />
      <Icon class="w-11 h-11 mx-3" name="Typescript" />
      <Icon class="w-11 h-11 mx-3" name="Astro" />
      <Icon class="w-11 h-11 mx-3" name="TailwindCss" />
    </div>
    <p class="text-left mx-4">
      My revamped portfolio site. My initial <a
        class="text-violet-600"
        href="https://expressowl.github.io/Frontend-Portfolio/"
        class="hover:text-blue-500">one</a
      > had was good old simple, but did not have the scalability of my current one
      that was made with Astro. I also wanted to challenge myself and use all the
      tech that I have learnt so far. View the code <a
        class="text-violet-600"
        href="https://github.com/ExpressOwl/Ramblings">here</a
      >.
    </p>
  </article>

  <article class="text-black">
    <h1 class="underline text-black">Initial Speed</h1>
    <Picture
      class="mb-8 rounded-xl shadow-md"
      src="/images/InitialSpeed.png"
      widths={[400, 600, 1024]}
      sizes="(max-width: 400px) 370px, (max-width: 600px) 600px, 1024px"
      aspectRatio="5:3"
      alt="Initial Speed"
      format="png"
      background="white"
    />
    <div class="flex justify-center">
      <Icon class="w-11 h-11 mx-3" name="HTML" />
      <Icon class="w-11 h-11 mx-3" name="TailwindCss" />
      <Icon class="w-11 h-11 mx-3" name="Javascript" />
      <Icon class="w-11 h-11 mx-3" name="Vite" />
      <a href="https://tailwind-website.onrender.com/" target="_blank">
        <Icon class="w-11 h-11 mx-4" name="External" />
      </a>
      <Icon class="w-16 h-16 ml-[-22px] rotate-180 hidden sm:block" name="Arrow" />
    </div>
    <p class="text-left mx-4">
      A Mock up site for my friend's Skyline repair business. This was made with
      mobile in mind first and taught me the problems of having high quality
      images. <br /> They may look sweet but they take FOREVER to load if your user
      has a slow internet connection. I learnt about lazy loading and to adjust width
      and height of images so that you don't load more than you need to. View the
      code <a class='text-violet-600' href="https://github.com/ExpressOwl/Tailwind">here</a>.
    </p>
  </article>

  <section class="text-black py-4 border-b last:border-t">
    <h1 class="text-black">More Projects</h1>

    <div class="text-center">
      <a
        href="https://github.com/ExpressOwl"
        target="_blank"
        class="inline-block m-auto text-center text-3xl bg-gradient-to-r from-purple-500 to-pink-500 px-2 py-4 cursor-pointer transition-all hover:shadow-md"
        >Visit my GitHub</a
      >
    </div>

    <p class='text-left mx-4'>
      If you visit my GitHub you can see some more projects, such
      as creating a toast message, making a pomodoro timer and making a ReactJS
      countdown app.
    </p>
  </section>
</div>
